<div class="menu--item col-sm-6 col-xs-12">

  <div class="menu--item__wrapper clearfix">
    <div class="row">

      <div class="form-group col-sm-10 col-xs-12">
        {{input value=model.name
          class="form-control"
          placeholder="Name"
        }}
      </div>

      <div class="form-group col-sm-2" col-xs-12>
        {{input value=model.price
          class="form-control"
          placeholder="€"
        }}
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        {{textarea value=model.description
          class="form-control"
          placeholder="Beschreibung"
        }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="menu--item--toolbar">
          {{fa-icon "times" class="clickable" click=(action "cancel")}}
          {{fa-icon "check" class="clickable" click=(action "saveCocktail")}}
        </div>
      </div>
    </div>

  </div>


</div>
