<div class="container-fluid">

  {{#if session.isAuthenticated}}
    <div class="row">
      <div class="col-md-12">
        {{#link-to 'cocktails.new' tagName="button" class="btn btn-default pull-right hide-active-link"}}
          {{fa-icon "glass"}} Add new cocktail
        {{/link-to}}
      </div>
    </div>
  {{/if}}

  <div class="container-fluid">
    <div class="menu">

      <div class="row menu-items">



        {{#each model as |cocktail|}}


          {{outlet cocktail.id}}

          {{#active-link tagName="div" activeClass="hidden" class="menu--item col-sm-6 col-xs-12"}}

            <div class="menu--item__wrapper clearfix">

              <h4>{{cocktail.name}}</h4>

              <span class="menu--item--price">
                {{number-to-currency cocktail.price
                  showCurrencySymbol=true
                  precision="float"
                }}
              </span>

              <div class="menu--item--border__dotted"></div>


            </div>

            <p class="menu--item--description">
              {{cocktail.description}}
            </p>

            {{#if session.isAuthenticated}}
              <div class="menu--item--toolbar">
                {{#link-to 'cocktails.cocktail.edit' cocktail class="link__white"}}
                  {{fa-icon "edit"}}
                {{/link-to}}
              </div>
            {{/if}}

          {{/active-link}}

        {{/each}}

      </div>

    </div>
  </div>


</div>
