<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12">
      <h3>
        Cocktails
       {{#if session.isAuthenticated}}
          {{#link-to 'cocktails.new' tagName="button" class="btn btn-default pull-right hide-active-link"}}
            {{fa-icon "glass"}} Add new cocktail
          {{/link-to}}
        {{/if}}
      </h3>
    </div>
  </div>


  <div class="container-fluid">
    <div class="menu">

      <div class="row menu-items">

        {{!-- Default outlet --}}
        {{outlet}}

        {{#each model as |cocktail|}}

          {{!-- named outlet to render the individual item in it --}}
          {{!outlet cocktail.id}}

          {{!-- Hide the menu item, so we can show the form instead --}}
          {{#active-link tagName="div" activeClass="hidden" class="menu--item col-sm-6 col-xs-12"}}

            <div class="menu--item__wrapper clearfix">

              <h4>{{cocktail.name}}</h4>

              <span class="menu--item--price">
                {{!number-to-currency cocktail.price
                  showCurrencySymbol=true
                  precision="float"
                }}
                 {{cocktail.price}} €
              </span>

              <div class="menu--item--border__dotted"></div>
            </div>

            <p class="menu--item--description">
              {{cocktail.description}}
            </p>

            {{#if session.isAuthenticated}}
              <div class="menu--item--toolbar">
                {{#link-to 'cocktails.cocktail.edit' cocktail class="link__white"}}
                  {{fa-icon "edit"}}
                {{/link-to}}
              </div>
            {{/if}}

          {{/active-link}}
        {{/each}}

      </div>

    </div>

  </div>


</div>